
{% extends "layout.html" %}
{% block body %}
 
<div class="block1">
 <marquee style = "color:green; font-size:28px;" >Hello this page about our school library</marquee>
      <p style = "color: red; font-size: 26px">Полезные ссылочки :</p>
      <a href = "http://schv444.mskobr.ru/ target = "_self">Сайт школы</a>
      <br />
      <br />
      <a href = "http://schv444.mskobr.ru/obrazovanie/uchebniki_i_uchebnye_posobiya/" target = "_self">О учебниках</a>
      <br />
      <br />
      <a href = "http://library.ru" target = "_self">Библиотека</a>
      <br />
      <br />


</div>
{% endblock %}
